body {
    font-family: "DIN Pro";
    --content-width: 1920px;
    --content-height: 1080px;
    /* --content-width: 100vw;
    --content-height: 100vh;
    --open-scale: 1.5625; */
    --open-scale: 1.4;
} 

a {
    text-decoration: none;
}

.kt--container {
    background-image: url("assets/Backround_green_leather 02.jpg");
    background-size: 100%;
    /* width: 100vw;
    height: 100vh; */
    width: var(--content-width);
    height: var(--content-height);
    position: relative;
    perspective: 2000px;
    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.kt--card {
    position: absolute;
    opacity: 1;
    transform-style: preserve-3d;
    transition: all 0.8s;
    /*transform: translateX(var(--left)) translateY(var(--top));*/
    width: var(--width);
    height: var(--height);
    top: var(--top);
    left: var(--left);
    z-index: 1;
    
    
}
.kt--card.kt-dragging,
.kt--card.kt-dragging .kt--document {
    transition: none;
}
.kt--card.on-top {
    z-index: 5;
}
.kt--image {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.kt--image-front {
    z-index: 5;
}
.kt--image-front,
.kt--image-back {
    position: absolute;
}
.kt--image-back {
    transform: rotateY(180deg);
    z-index: 4;
}
.kt--img {
    object-fit: cover;
    width: 100%;
}
.kt--control {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    -webkit-outline: 0;
    transition: all 1.2s;
    cursor: pointer;
}
.kt--control:focus {
    outline: 0;
    }
.kt--control-zoom {
    background-color: #000;
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 60px;
    height: 60px;
}
.kt--control-zoom path {
    fill: #F1F9FF;
}
.kt--control-close {
    background-color: #F1F9FF;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -35px;
    transform: rotate(45deg);
}
.kt--control-close path {
    fill: #000;
}

.kt--control-slide {
    background-color: #fff;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -200px;

    /* display: flex; */
    align-items: center;
    justify-content: center;
    
}
.kt--control-slide path {
    fill: #000;
}
.kt--control-slide.kt--control-slide--backward {
    transform: rotate(-180deg);
    right: 50%;
    margin-right: -200px;
    left: auto;
}
.kt--control-slide.disabled {
    background-color:transparent;
    border: 1px solid #F1F9FF;
}
.kt--control-slide.disabled path {
    fill: #F1F9FF;
}
.kt--card1 {
    --top: 619px;
    --left: 765px;
    --width: 293px;
    --height: 402px;
    --angle: 0deg;

    top: 619px;
    left: 765px;
}

.kt--card2 {
    --top: 390px;
    --left: 100px;
    --width: 290px;
    --height: 400px;
    --angle: 3deg;

    top: 390px;
    left: 100px;
}
.kt--card.kt--card-active {
    width: calc(var(--width) * var(--open-scale));
    height: calc(var(--height) * var(--open-scale));
    top: 50% !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-53%);
    /*transform: translateX(calc((1920px - var(--width) * var(--open-scale)) / 2)) translateY(calc((1080px - var(--height) * var(--open-scale)) / 2));*/
    z-index: 3000 !important;
}
.kt--card.kt--card-active .kt--control-slide {
    display: flex;
}
.kt--card.kt--card-active .kt--document {
    transform: rotateZ(0deg);
}
.kt--card.kt--card-active .kt--control-zoom {
    display: none;
}
/* .kt--card-active:hover {
    transform: translateX(-50%) translateY(-50%) rotateY(180deg);
} */
.kt--document {
    transition: all 0.8s;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 20px #00000050;

    width: 100%;
    height: 100%;

    transform: rotateZ(var(--angle));
    
}
.kt--image {
    width: 100%;
    height: 100%;
}
.kt--card.kt--card-active.kt--flip {
    /* transform: translateX(calc((1920px - var(--width) * var(--open-scale)) / 2)) translateY(calc((1080px - var(--height) * var(--open-scale)) / 2)); */
    transform: translateX(-50%) translateY(-53%);
}
.kt--card.kt--card-active.kt--flip .kt--document {
    transform: rotateY(180deg) rotateZ(0deg);
}
.kt--card3 {
    --top: 408px;
    --left: 1255px;
    --width: 400px;
    --height: 576px;
    --angle: -6deg;
}
/* .kt--card4 {
    --top: 408px;
    --left: 1255px;
    --width: 449px;
    --height: 609px;
} */
.kt--card4 {
    --top: 58px;
    --left: 194px;
    --width: 400px;
    --height: 576px;
    --angle: 10deg;
}
.kt--card5 {
    --top: 118px;
    --left: 1288px;
    --width: 400px;
    --height: 576px;
    --angle: 15deg;
}
.kt--card6 {
    --top: 561px;
    --left: 229px;
    --width: 576px;
    --height: 400px;
    --angle: 1deg;
}
.kt--card7 {
    --top: 408px;
    --left: 716px;
    --width: 576px;
    --height: 400px;
    --angle: 20deg;
}
.kt--card8 {
    --top: 61px;
    --left: 651px;
    --height: 400px;
    --width: 576px;
    --angle: -20deg;
}
.kt--card9 {
    --top: 281px;
    --left: 441px;
    --width: 400px;
    --height: 576px;
    --angle: -5deg;
}
.kt--card10 {
    --top: 561px;
    --left: 1421px;
    --width: 400px;
    --height: 290px;
    --angle: 10deg;
}
.kt--card11 {
    --top: 169px;
    --left: 1043px;
    --width: 400px;
    --height: 290px;
    --angle: 5deg;
}

.kt--multi .kt--img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.kt--intro-button {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    transition: all 0.8s;
}
.kt--intro-button svg {
    /* width: 28px;
    height: 28px; */
}
.kt--intro-button--top {
    top: 50px;
    right: 50px;
}
.kt--intro-button--bottom {
    bottom: 50px;
    left: 50px;
}
.kt--fade {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    opacity: 0;
    transform-style: preserve-3d;

    animation: fadeIn ease 0.8s;
    -webkit-animation: fadeIn ease 0.8s;
    -moz-animation: fadeIn ease 0.8s;
    -o-animation: fadeIn ease 0.8s;
    -ms-animation: fadeIn ease 0.8s;
}
.kt--fade.active {
    display: block;
    opacity: 1;
    z-index: 2500;
}

.kt--intro {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3000;
}
.kt--text {
    position: absolute;
    top: 346px;
    left: 100px;
    width: 850px;
    height: 564px;
    text-align: left;
    font: 34px/42px "DIN Pro";
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.kt--splash-images img {
    object-fit: cover;
    width: 100%;
    border-radius: 3px;
}
.kt--splash-image1 {
    top: 355px;
    left: 1115px;
    width: 343px;
    height: 476px;
    position: absolute;
    border-radius: 3px;
}
.kt--splash-image2 {
    top: 355px;
    left: 1477px;
    width: 343px;
    height: 476px;
    position: absolute;
}

.kt--buttons {
    bottom: 100px;
    right: 100px;
    position: absolute;
    width: 600px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.kt--button {
    border: 2px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
    background-color: transparent;
    width: 270px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;    

    text-align: center;
    font: 24px/48px "DIN Pro";
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 20px;
    outline: 0;
}
.kt--button:focus,
.kt--intro-button:focus  {
    outline: 0;
}
.kt--h1 {
    top: 100px;
    left: 100px;
    width: 850px;
    height: 68px;
    font: 100px/100px "DIN Pro Cond";
    font-weight: bold;
    position: absolute;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.kt--h2 {
    top: 193px;
    left: 100px;
    width: 850px;
    height: 78px;
    font: 100px/100px "DIN Pro Cond";
    font-weight: bold;
    position: absolute;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
}

.kt--intro,
.kt--splash-first,
.kt--splash-second {
    display: none;
    opacity: 0;
}

.kt--intro.active,
.kt--splash-first.active,
.kt--splash-second.active {
    display: block;
    opacity: 1;
}

.on-top {
    z-index: 1000;
}

.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

.kt--controls {
    
    display: none;
    opacity: 0;
    justify-content: stretch;
    z-index: 2600;
    animation: fadeIn ease 0.8s;
    -webkit-animation: fadeIn ease 0.8s;
    -moz-animation: fadeIn ease 0.8s;
    -o-animation: fadeIn ease 0.8s;
    -ms-animation: fadeIn ease 0.8s;
    position: relative;
    width: var(--content-width);
    height: var(--content-height);
    top: 0;
    left: 0;
}
.kt--controls .kt--control {
    
}

.kt--controls.active {
    display: flex;
    opacity: 1;
}
.kt--controls.one-side .kt--control-slide {
    display: none;
}

/* .kt--multi .kt--multi--slide  {
    opacity: 0;
}
.kt--multi .kt--multi--slide.active  {
    opacity: 1;
    animation: fadeIn ease 0.8s;
    -webkit-animation: fadeIn ease 0.8s;
    -moz-animation: fadeIn ease 0.8s;
    -o-animation: fadeIn ease 0.8s;
    -ms-animation: fadeIn ease 0.8s;
} */

.kt--multi .kt--multi--slide:nth-child(2n) {
    opacity: 0;
}
.kt--multi .kt--multi--slide:nth-child(2n).active {
    opacity: 1;
    animation: fadeIn ease 0.8s;
    -webkit-animation: fadeIn ease 0.8s;
    -moz-animation: fadeIn ease 0.8s;
    -o-animation: fadeIn ease 0.8s;
    -ms-animation: fadeIn ease 0.8s;
}